:root {
    --foreground: black;
    --background: white;
    --border: rgba(0, 0, 0, .125);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: white;
        --background: black;
        --border: rgba(255, 255, 255, .125);
    }
}

*:focus {
    outline: none;
}

html {
    scrollbar-color: var(--border) var(--background);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 50rem;
    background: var(--background);
    color: var(--foreground);
    margin: auto;
    font-family: Consolas, 'Courier New', monospace;
    font-size: large;
}

form {
    min-height: 48px;
    display: flex;
    background: var(--background);
    position: relative;
    border-top: 1px solid;
    border-color: var(--border);
}

input {
    background-color: inherit;
    flex: auto;
    padding-left: 14px;
    min-width: 0;
}

ul {
    display: flex;
    flex-direction: column;
    font-size: small;
    flex: auto;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
}

li {
    line-height: 14px;
    display: flex;
    justify-content: space-between;
    min-height: 36px;
    position: relative;
}

li:not(:last-of-type)::after {
    content: "";
    position: absolute;
    left: 7px;
    right: 7px;
    bottom: 0;
    border-bottom: 1px solid var(--border);
    opacity: 0.25;
    z-index: 1;
}

.link {
    padding-left: 15px;
    margin: auto 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.link:hover,
.link:focus {
    text-decoration: underline;
}

.link:not([href]) {
    opacity: .5;
    text-decoration: none;
}

button,
.btn {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button svg,
.btn svg {
    opacity: .5;
}

.btn svg {
    opacity: .5;
    width: 18px;
    height: 18px;
}

button:hover svg,
button:focus svg,
a[href]:focus svg,
a[href]:hover svg {
    opacity: 1;
}

.group {
    position: relative;
    display: flex;
    background: var(--background);
}

.under,
.under svg,
.over,
.over svg {
    transition-property: opacity, width, height;
    transition-timing-function: linear;
    transition-duration: 50ms;
}

.group:focus-within .under,
li:hover .under {
    opacity: .33;
}

.group:focus-within .under svg,
li:hover .under svg {
    width: 30px;
    height: 30px;
}

.group:focus-within .over svg,
li:hover .over svg {
    width: 18px;
    height: 18px;
}

.group .over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.group .over svg {
    width: 0;
    height: 0;
}

.group:focus-within .extra,
li:hover .group .extra {
    background: var(--background);
    right: 48px;
    opacity: 1;
}

.extra,
.folder {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition-timing-function: linear;
    transition-duration: 50ms;
}

.kill {
    z-index: 1;
    background: var(--background);
}

form:hover .folder,
.folder:focus {
    right: 48px;
    opacity: 1;
}

.download {
    z-index: 1;
    background: var(--background);
}

.lucide-loader-circle {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}