:root {
    --foreground: black;
    --background: white;
    --border: rgba(0, 0, 0, .0625);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: white;
        --background: black;
        --border: rgba(255, 255, 255, .0625);
    }
}

body {
    font-family: Consolas, 'Courier New', monospace;
    font-size: large;
    max-width: 48rem;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--background);
    color: var(--foreground);
}

form {
    display: flex;
    position: fixed;
    top: 0;
    max-width: 48rem;
    width: 100%;
    border-bottom: 1px solid;
    border-color: var(--border);
    background: var(--background)
}

input {
    background-color: inherit;
    height: 48px;
    flex: auto;
    padding: 0em .75rem;
}

form button {
    margin: 0;
    min-width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    font-size: small;
    flex: auto;
    padding-top: 48px;
}

li {
    text-wrap: nowrap;
    white-space: pre-wrap;
    line-height: 14px;
    display: flex;
    overflow: hidden;
}

li:not(:last-of-type) {
    border-bottom: 1px solid;
    border-color: var(--border);
}

li div {
    padding: .5rem 0.75rem;
    flex: auto;
    display: flex;
    align-items: center;
}

li a {
    min-width: 48px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

*:focus {
    outline: none;
}

button:hover svg,
button:focus-visible svg,
a:focus-visible svg,
a:hover svg {
    opacity: 1;
}

button svg,
a svg,
a:not([href]) svg {
    opacity: .25;
}

.lucide-loader-circle {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}