:root {
    --foreground: black;
    --background: white;
    --border: rgba(0, 0, 0, .125);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: white;
        --background: black;
        --border: rgba(255, 255, 255, .125);
    }
}

html {
    scrollbar-color: var(--border) var(--background);
}

body {
    font-family: Consolas, 'Courier New', monospace;
    font-size: large;
    max-width: 50rem;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--background);
    color: var(--foreground);
    max-height: 100vh;
}

form {
    display: flex;
    border-top: 1px solid;
    border-color: var(--border);
    background: var(--background);
}

input {
    background-color: inherit;
    height: 48px;
    flex: auto;
    padding-left: 14px;
    min-width: 0;
}

form button {
    margin: 0;
    min-width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    font-size: small;
    flex: auto;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
}

li {
    text-wrap: nowrap;
    white-space: pre-wrap;
    line-height: 14px;
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    min-height: 36px;
}

li:not(:last-of-type)::after {
    content: "";
    position: absolute;
    left: 7px;
    right: 7px;
    bottom: 0;
    border-bottom: 1px solid var(--border);
    opacity: 0.125;
    z-index: 1;
}

li .info {
    padding: .25rem 14px;
    margin-top: auto;
    margin-bottom: auto;
}

li .info:not(:last-child) {
    padding-right: 0;
}

a[href]:hover,
a[href]:focus {
    text-decoration: underline;
}

.btn {
    min-width: 48px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:not(.btn):not([href]),
button svg,
a svg {
    opacity: .5;
}

li .btn {
    min-width: 48px;
    min-height: 36px;
}

li button svg,
li a svg {
    width: 18px;
    height: 18px;
}

button:not(:disabled):hover svg,
button:not(:disabled):focus svg,
a[href]:focus svg,
a[href]:hover svg {
    opacity: 1;
}

*:focus {
    outline: none;
}

.lucide-loader-circle {
    animation: spin 1s linear infinite;
}

.no-spin .lucide-loader-circle {
    animation: none;
}

.container {
    position: relative;
    display: flex;
    background: var(--background);
}

.under,
.under svg,
.over,
.over svg {
    transition-property: opacity, width, height;
    transition-timing-function: linear;
    transition-duration: 50ms;
}

.container:focus-within .under,
li:hover .under {
    opacity: .33;
}

.container:focus-within .under svg,
li:hover .under svg {
    width: 30px;
    height: 30px;
}

.container:focus-within .over svg,
li:hover .over svg {
    width: 18px;
    height: 18px;
}

.container .over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .over svg {
    width: 0;
    height: 0;
}

.container:focus-within .extra,
li:hover .container .extra {
    background: var(--background);
    right: 48px;
    opacity: 1;
}

.extra {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition-timing-function: linear;
    transition-duration: 50ms;
}

.kill {
    z-index: 1;
    background: var(--background);
}

form:hover .folder,
.folder:focus {
    opacity: 1;
    position: static;
    pointer-events: auto;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}